body {
    background-color: white;
}

.content_container {
    border: 2px inset antiquewhite;
    border-radius: 6px;
    padding: 1%;
    overflow: hidden;
    resize: both;
}

.content_area {
    /* border: 0.5px solid sienna; */
    background-color: antiquewhite;  
    border-radius: 9px;
    width: 28%;
    height: 40%;
    display: inline-block;
    overflow: hidden;
    margin: 2%;
    transition: transform .2s;
}

.content_area:hover {
    transform: scale(1.15);
    background-color: rgb(218, 183, 139);
}

.image_space {
    border: 0.5px solid black;
    overflow: hidden;
    resize: both;
    border-radius: 3px;
    padding: 1px;
    margin: 10px auto;
    min-height: 40%;
    max-height: 75%;
    display: block;
}

.text_space {
    border: 0.5px solid black;
    border-radius: 6px;
    padding: 1px;
    margin: 2%;
    text-align: center;
}

.file_input {
    margin: 1%;
    display: inline;
}

hr {
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
    border: 0;
    height: 1px;
}